.africa-message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.speech-box {
  background-color: #f25022;
  color: white;
  padding: 3rem 4rem 5rem 16rem;
  max-width: 700px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 85% 85%, 0 85%);
  position: relative;
  z-index: 1;
}

.africa-map {
  position: absolute;
  top: 40%;
  left: 0rem;
  transform: translateY(-50%);
  width: 400px;
  max-width: 40vw;
  z-index: 2;
}

.speech-heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  z-index: 3;
  position: relative;
}

.speech-heading span {
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

.speech-heading em {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
}

.speech-text {
  font-size: 0.95rem;
  line-height: 1.6;
  position: relative;
  z-index: 3;
}
