.partner-section {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

.partner-section h5 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}

.partner-logo {
  max-height: 60px;
  object-fit: contain;
  margin: 0 1.25rem;
}
