.footer-section {
  background-color: #f25022;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-section .social-icons i {
  font-size: 18px;
  cursor: pointer;
}
